<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>中獎者名單</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
</head>
<body>
<div class="container shadow min-vh-100 py-2">
    <table id="winner_table" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">序號</th>
            <th scope="col">層數</th>
            <th scope="col">帳號</th>
            <th scope="col">暱稱</th>
            <th scope="col">發言</th>
            <th scope="col">發言時間</th>
        </tr>
        </thead>
        <tbody id="draw_table">
            <tr th:each="winner,iter : ${winners}">
                <th th:text="${iter.index} + 1">序號</th>
                <td th:text="${winner.floor}">層數</td>
                <td>
                    <a th:text="${winner.userID}" th:href="@{'https://home.gamer.com.tw/homeindex.php?owner='+${winner.userID}}">帳號</a>
                </td>
                <td>
                    <a th:text="${winner.userName}" th:href="@{'https://home.gamer.com.tw/homeindex.php?owner='+${winner.userID}}">暱稱</a>
                </td>
                <td>
                    <a th:text="${winner.article.length() <= 0 ? '' : winner.article.substring(0,T(Math).min(winner.article.length(),50))} + ' ……'" th:href="@{'https://forum.gamer.com.tw/Co.php?bsn='+${winner.bsn} + '&sn=' + ${winner.snb}}">發言</a>
                </td>
                <td th:text="${winner.postDate.toLocaleString()}">發言時間</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
    $('#winner_table').DataTable();
} );
</script>
</body>
</html>